$main_color: #272930;
$main_bg: #F3F3F3;
$strong_line: #2d6ff7;
$desc_line: #707885;
$main-border: #e1e3e3;
$rolling-stone: #7c7f85;
$wild-sand: #F5F5F5;
$alabaster: #F9F9F9;
$iron: #d9dadb;
$alto: #DEDEDE
